{% extends "layout.html" %}
{% set activepage = "home" %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
<h1 class="border-bottom border-muted">{{ name }}</h1>

<form class="needs-validation" novalidate method="post" action="/fill/{{ gid }}">
    <div class="row">
        <div class="col">
            {% if greeting %}
            <label for="feedback" class="form-label">{{ greeting }}</label>
            {% else %}
            <label for="feedback" class="form-label">Please leave an anonymous feedback below.</label>
            {% endif %}

            {% if primary %}
            <textarea class="form-control first-input" name="feedback" id="feedback" required style="background-color: {{ primary }}"></textarea>
            {% else %}
            <textarea class="form-control first-input" name="feedback" id="feedback" required></textarea>
            {% endif %}
            <div class="invalid-feedback">A feedback is required.</div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>

{% endblock %}
